<!-- Test to see if there is a news ticker and/or slider -->
<% news_ticks = Spree::Tick.all %>
<% if news_ticks.map(&:published).include?(true) && Spree::Slide.published.count > 0 %>
    <% type = "_with_slide_and_ticker" %>
<% elsif Spree::Slide.published.count > 0 %>
    <% type = "_with_slide_no_ticker" %>
<% else %>
    <% type = "_no_slide" %>
<% end %>

<div id="cupcake_decorations_border<%= type %>">
  <div id="cupcake_decorations">
      <h6>Just Arrived</h6>
       <br>
        <div id="cupcake_decoration_text">
        Here are some fabulous products that have <%= link_to "Just Arrived", just_arrived_path %>
        </div>
      <br>
      <a href="/parties/t/theme/pop-art-super-hero"><img align="center" width=200px; height=170px; src="/assets/store/pop_art_lam_just_arrived.png" alt="just_arrived"></a>

      <br/>
  </div>
</div>


