<!-- Test to see if there is a news ticker and/or slider -->
<% news_ticks = Spree::Tick.all %>
<% if news_ticks.map(&:published).include?(true) && Spree::Slide.published.count > 0 %>
    <% type = "_with_slide_and_ticker" %>
<% elsif Spree::Slide.published.count > 0 %>
    <% type = "_with_slide_no_ticker" %>
<% else %>
    <% type = "_no_slide" %>
<% end %>

<div id="food_ideas_border<%= type %>">
  <div id="food_ideas">
      <h6>Party Food & Games</h6>
      <p></p>
      <a href="http://goo.gl/B45kD">Party Cake Toppers</a>
      <br/>
      <a href="http://goo.gl/gRwOJ">Party Cake Designs</a>
      <br/>
      <a href="http://goo.gl/Kh91O">Baking Party Cakes</a>
      <br/>
      <a href="http://goo.gl/N0Ds1">Party Games</a>
      <br/>
  </div>
</div>


